.card {
    background-color: #222 !important;
}
#roster .card .card-image img {
    max-height: 300px;
}
.card-title {
    padding: 10px;
}
#roster h5 {
    color: #f1dd22;
}
#roster b {
    color: #841914;
}